<template>
  <h1>{{ msg }}</h1>

  <div class="wrapper --theme-ainews">
    <loader />
  </div>

  <div class="wrapper --theme-ainews">
    <icon name="add" size="S" />

    <icon name="close" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'HelloWorld',
  props: {
    msg: {
      type: String,
      required: true
    }
  },
})
</script>

<style scoped>
.wrapper {
  height: 64px;
}
</style>
